<div ng-show="au">
  <div class="col-xs-12 top-filter-place">
    <div class="col-xs-9"><input type="text" ng-model="filt" class="form-control filter-places"
                                           placeholder="Фильтр"></div>
    <div class="col-xs-3 delete-all-places" ng-click="deleteAllLikePlaces()">Удалить все</div>
  </div>

  <div data-ng-repeat="count in test[i].userLikePlace">

    <div class="col-xs-12 placeId-comment-likes"
         data-ng-repeat="comment in likeReviews | filter:count.id | filter:filt">
      <like-place></like-place>
    </div>

  </div>
</div>
