<div class="col-xs-12 place">
  <div class="col-xs-4 place-image">
    <img data-ng-src="{{place.imageUrl}}" class="img-responsive">

    <div class="col-xs-12 placeId-category">{{place.category}}</div>

  </div>
  <div class="col-xs-8 place-desc">
    <div class="col-xs-12 placeId-name">
      {{place.placeName}}
    </div>
    <div class="col-xs-2 assessment">
      {{place.rating}}
    </div>
    <div class="col-xs-4 h-work">
      Часы работы: <br><span>{{place.hours}}</span>
    </div>
    <div class="col-xs-6 place-adres">
      Адрес: <br><span>{{place.adres}}</span>
    </div>
    <div class="col-xs-12 place-description">
      {{place.description}}
    </div>
  </div>
  <place-map></place-map>
  <div class="col-xs-12 placeId-reviews">
    <div class="col-xs-12 placeId-reviews-all">
      <div class="col-xs-3 placeId-reviews-text">
        Отзывы
      </div>
      <div class="col-xs-6 col-xs-offset-3 placeId-reviews-button ng-hide" ng-controller='jqueryController'
           data-ng-show="au" id="addReview">
        Добавить свой отзыв
      </div>
    </div>

  </div>

  <div class="col-xs-12 placeId-comment2" data-ng-show="au">
    <form name="userAddReview" data-ng-controller="formPlaceId" class="userAddReview">
      <img class="col-xs-2 img-responsive" ng-src="{{test[i].userImage}}">

      <div class="col-xs-10 placeId-review-person">{{test[i].userName}}</div>
      <div class="col-xs-9 placeId-review-date">

        <select ng-model="placeRating" required class="placeId-review-assessment userReviewPlaceRating col-xs-2">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>

        <div class="col-xs-10 placeId-review-date-date">{{day}}.{{month+1}}.{{year}} в {{hour}}:{{minutes}}</div>

      </div>
      <div class="col-xs-12 placeId-review-comment">{{comment.comment}}
      </div>
      <div class="col-xs-12 textarea">
        <textarea class="form-control textarea-text" rows="3" data-ng-model="comment" required></textarea>
      </div>
      <div class="col-xs-12 ">
        <button class="col-xs-3 col-xs-offset-9 submitUserAddReview" data-ng-click="addReview()">Добавить</button>
      </div>
    </form>
  </div>


  <div class="col-xs-12 placeId-comment" data-ng-repeat="comment in reviews">
    <place-directive></place-directive>

  </div>


</div>

