<div class="row">
  <div class="col-xs-8 col-xs-offset-2 sign">
    <div class="row"><div class="vhod">Вход</div></div>
    <div class="row" style="margin-top: 20px;">
      <div class="row">
        <div class="col-xs-3">
          <div class="form-text">Логин</div>
        </div>
        <div class="col-xs-9">
          <input type="text" class="form-control search" data-ng-model="login">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <div class="form-text">Пароль</div>
        </div>
        <div class="col-xs-9">
          <input type="password" class="form-control search" data-ng-model="password">
        </div>
      </div>
    </div>
  </div>
</div>
