<div class="row">
  <div class="col-xs-3 left-column">
    <div class="menu">
      <div class="sub-menu">
        Главная
      </div>
      <div class="sub-menu">
        Места
      </div>
      <div class="sub-menu">
        Рецензии
      </div>
      <div class="sub-menu">
        Отзывы
      </div>
      <div class="sub-menu">
        Обсуждения
      </div>
      <div class="sub-menu">
        События
      </div>
    </div>
  </div>
  <div class="col-xs-9 right-column">

    <div class="note">
      <div class="row">
        <div class="col-xs-2 image">

        </div>
        <div class="col-xs-10 note-comment">
          <div class="row note-comment-top">
            <div class="col-xs-12">Имя коммент место</div>
          </div>
          <div class="row note-comment-bottom">
            <div class="col-xs-2">
              <div class="assessment">5</div>
            </div>

            <div class="col-xs-10">
              <div class="rate">Дата</div>
              <div class="date">18.02.2015</div>
            </div>
          </div>
          <div class="note-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, blanditiis cupiditate enim, est excepturi
            incidunt inventore natus non nulla quae, recusandae vel voluptate? Asperiores delectus esse iure natus
            obcaecati tempora!
          </div>
        </div>
      </div>
    </div>

    <div class="note">
      <div class="row">
        <div class="col-xs-2 image">

        </div>
        <div class="col-xs-10 note-comment">
          <div class="row note-comment-top">
            <div class="col-xs-12">Имя коммент место</div>
          </div>
          <div class="row note-comment-bottom">
            <div class="col-xs-2">
              <div class="assessment">3</div>
            </div>

            <div class="col-xs-10">
              <div class="rate">Дата</div>
              <div class="date">18.02.2015</div>
            </div>
          </div>
          <div class="note-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aperiam, consectetur, culpa cumque
            dolorem doloremque est facere, fugiat nisi numquam odit officiis perferendis repellat reprehenderit
            temporibus velit veniam! Voluptatem.
          </div>
        </div>
      </div>
    </div>


    <div class="note">
      <div class="row">
        <div class="col-xs-2 image">

        </div>
        <div class="col-xs-10 note-comment">
          <div class="row note-comment-top">
            <div class="col-xs-12">Имя коммент место</div>
          </div>
          <div class="row note-comment-bottom">
            <div class="col-xs-2">
              <div class="assessment">5</div>
            </div>

            <div class="col-xs-10">
              <div class="rate">Дата</div>
              <div class="date">18.02.2015</div>
            </div>
          </div>
          <div class="note-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, blanditiis cupiditate enim, est excepturi
            incidunt inventore natus non nulla quae, recusandae vel voluptate? Asperiores delectus esse iure natus
            obcaecati tempora!
          </div>
        </div>
      </div>
    </div>


    <div class="note">
      <div class="row">
        <div class="col-xs-2 image">

        </div>
        <div class="col-xs-10 note-comment">
          <div class="row note-comment-top">
            <div class="col-xs-12">Имя коммент место</div>
          </div>
          <div class="row note-comment-bottom">
            <div class="col-xs-2">
              <div class="assessment">4</div>
            </div>

            <div class="col-xs-10">
              <div class="rate">Дата</div>
              <div class="date">18.02.2015</div>
            </div>
          </div>
          <div class="note-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci, amet dolores doloribus fugiat in
            magni maiores nisi nulla, obcaecati porro quasi reiciendis repellat sed sint ut veniam. Eum, neque? Lorem
            ipsum dolor sit amet, consectetur adipisicing elit. Autem iusto, neque nostrum praesentium quas sapiente
            soluta vitae! Accusantium, cumque deserunt, dolorum et, expedita fugit nam possimus quam quasi voluptas
            voluptatum!
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

