<div class="col-xs-12 settings">
  <div class="col-xs-12">Настройки пользователя</div>
</div>
<form name="newNameForm" class="col-xs-12 settings-group newNameForm" data-ng-controller="settingsGroupController">
  <div class="col-xs-12 your">Ваше имя: {{test[i].userName}}</div>
  <div class="col-xs-9"><input type="text" ng-model="newName" placeholder="Сменить имя" required
                               class="form-control settingsType"></div>
  <button class="col-xs-3 settingsTypeButton" ng-click="newNameClick()">Сменить</button>
</form>
<form name="newLastNameForm" class="col-xs-12 settings-group newLastNameForm"
      data-ng-controller="settingsGroupController">
  <div class="col-xs-12 your">Ваша фамилия: {{test[i].userLastName}}</div>
  <div class="col-xs-9"><input type="text" ng-model="newLastName" required placeholder="Сменить фамилию"
                               class="form-control settingsType"></div>
  <button class="col-xs-3 settingsTypeButton" ng-click="newLastNameClick()">Сменить</button>
</form>
<form name="newEmailForm" class="col-xs-12 settings-group newEmailForm" data-ng-controller="settingsGroupController">
  <div class="col-xs-12 your">Ваш e-mail: {{test[i].userEmail}}</div>
  <div class="col-xs-9"><input type="email" ng-model="newEmail" required placeholder="Сменить e-mail"
                               class="form-control settingsType"></div>
  <button class="col-xs-3 settingsTypeButton" ng-click="newEmailClick()">Сменить</button>
</form>
<form name="newPWForm" class="col-xs-12 settings-group newPWForm" data-ng-controller="settingsGroupController">
  <div class="col-xs-12 your">Сменить пароль</div>
  <div class="col-xs-9"><input type="password" ng-model="oldPW" required placeholder="Старый пароль"
                               class="form-control settingsType"></div>
  <div class="col-xs-12" data-ng-show="pas">Введен неправильный пароль!</div>
  <div class="col-xs-9"><input type="password" ng-model="newPW" required placeholder="Новый пароль"
                               class="form-control settingsType"></div>
  <button data-toggle="popover" title="Popover title"
          data-content="And here's some amazing content. It's very engaging. Right?" class="col-xs-3 settingsTypeButton"
          ng-click="newPWClick()">Сменить
  </button>
</form>
